<!--The whole content below can be removed with the new code.-->

the question is: {{questionInfo?.question}}
<br>
the catgory is: {{questionInfo?.category.title}}
<br>
the pointvalue is: {{questionInfo?.value}}
<br>

Your Score: {{eric.totalScore}}
The answer is : {{questionInfo?.answer}}

<!-- added @Input() questionInfo;    in child to recieved questioninfo.    --> 
<!--and added @Output() answered = new EventEmitter();  in child to ask the eventEmmiter to take it out of child and send to parent-->
<!-- " (answered)  came out of child going into parent in this file to let service know to get new question "getDataFromService"-->
<!-- "questionInfo" is being passed from parent to child [questionInfo]   -->


<app-editjeopardy-starter #eric (answered)="getDataFromService()"  [questionInfo]="questionInfo"></app-editjeopardy-starter>



